<?xml version="1.0"?>
<launch>

    <arg name="name" default="turtle"/>

    

    <node pkg="turtlesim" type="turtlesim_node" name="$(arg name)">
        
    </node>
    <node pkg="learning_pkg" type="spawner.py" name="spawner_node" respawn="false" output="screen">
        
    </node>
    <node pkg="learning_pkg" type="turtleController.py" name="turtlemove" respawn="false" output="screen">
      
    </node>



</launch>