<?xml version="1.0"?>
<launch>

    <arg name="name" default="turtle"/>
    
    <node pkg="turtlesim" type="turtlesim_node" name="$(arg name)">
        
    </node>
    <node pkg="learning_pkg" type="gotogoal.py" name="nav_to_goal" output="screen" launch-prefix="gnome-terminal --command">
        
    </node>

</launch>